In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
sns.set_style('whitegrid')
pd.options.mode.chained_assignment = None
pd.set_option('display.max_columns', 100)

In [2]:
# Read the CSV into a Pandas DataFrame
fantasy_df = pd.read_csv("../Data/testdata.csv")

# Print the first five rows of data to the screen
fantasy_df.head()

,Player_name,Date,Team,Opp,H/A,GTime(ET),Team pts,Opp pts,Win-Lose,Start,Mins_played,GP,active,FDP,DoubleD,TripleD,FD Sal,FD pos,ADI,VMI,pt,rb,as,st,bl,to,trey,fg-made,fg-attempted,ft-made,ft-attempted
0,Drew Eubanks,2020-01-10,sas,mem,0,20.0,121,134,0,0,1.766667,1,1,2.0,0,0,3500,5,65.06,0.25,2,0,0,0,0,0,0,0,0,2,2
1,Drew Eubanks,2020-01-08,sas,bos,1,19.0,129,114,1,0,2.266667,1,1,2.0,0,0,3500,5,66.39,-1.99,2,0,0,0,0,0,0,1,1,0,0
2,Drew Eubanks,2019-12-28,sas,det,1,20.5,136,109,1,0,3.116667,1,1,9.6,0,0,3500,5,62.96,0.90,6,3,0,0,0,0,0,3,3,0,0
3,Drew Eubanks,2019-12-03,sas,hou,1,20.5,135,133,1,0,6.266667,1,1,4.9,0,0,3600,5,64.01,-0.87,2,2,1,0,0,1,0,1,1,0,0
4,Drew Eubanks,2019-12-01,sas,det,0,17.0,98,132,0,0,21.816667,1,1,21.1,0,0,3500,5,61.27,2.79,9,8,1,0,1,2,0,4,6,1,1