In [1]:
%matplotlib inline
import glob
import matplotlib.pyplot as plt
import pandas as pd
import pulp
import csv


pd.set_option('display.width', 1000)

In [36]:
# create dataframe of past salaries and past performance
fantasy_df = pd.read_csv("../Data/20200208__players.csv")

# Print the first five rows of data to the screen
fantasy_df.head()

               Name     Last     First      Player_Name  Starter  FD_Pts  FD_Sal Pos Team H/A Oppt  Team Score  Oppt Score Minutes                                     Stat line      Date
0     Holiday, Jrue  Holiday      Jrue     Jrue Holiday      1.0    58.2  6800.0  SG  nor   A  ind         124       117.0   31.78     31pt 6rb 10as 3st 4to 4trey 10-22fg 7-8ft  20200208
1     Murray, Jamal   Murray     Jamal     Jamal Murray      1.0    50.5  6400.0  PG  den   A  pho         117       108.0   35.27  36pt 5rb 5as 1st 1bl 5to 6trey 14-17fg 2-3ft  20200208
2  Murray, Dejounte   Murray  Dejounte  Dejounte Murray      1.0    50.3  4900.0  PG  sas   A  sac         102       122.0    27.9           17pt 9rb 9as 3st 2trey 6-11fg 3-4ft  20200208
3      Hield, Buddy    Hield     Buddy      Buddy Hield      NaN    49.7  5400.0  SG  sac   H  sas         122       102.0    31.9            31pt 6rb 5as 2st 2to 9trey 11-17fg  20200208
4     LeVert, Caris   LeVert     Caris     Caris LeVert      1.0    48.6  5300.0  SG  bkn   A  tor         118       119.0   33.22      37pt 3rb 4as 1st 1to 6trey 12-18fg 7-7ft  20200208

In [37]:
fantasy_df.columns

Index(['Name', 'Last', 'First', 'Player_Name', 'Starter', 'FD_Pts', 'FD_Sal', 'Pos', 'Team', 'H/A', 'Oppt', 'Team Score', 'Oppt Score', 'Minutes', 'Stat line', 'Date'], dtype='object')

In [38]:
fantasy_df = fantasy_df[['Player_Name', 'FD_Pts', 'FD_Sal', 'Pos']]
# fantasy_df['Player_Name'] = fantasy_df['Player_Name'].replace(' ', '_', regex=True)
fantasy_df

          Player_Name  FD_Pts  FD_Sal  Pos
0        Jrue Holiday    58.2  6800.0   SG
1        Jamal Murray    50.5  6400.0   PG
2     Dejounte Murray    50.3  4900.0   PG
3         Buddy Hield    49.7  5400.0   SG
4        Caris LeVert    48.6  5300.0   SG
..                ...     ...     ...  ...
291           Bol Bol     0.0  3500.0    C
292  DeMarcus Cousins     0.0  3500.0    C
293        Marc Gasol     0.0  4600.0    C
294  Zach Norvell Jr.    19.8     NaN  NaN
295      Jeremy Pargo    13.5     NaN  NaN

[296 rows x 4 columns]

In [8]:
# fantasy_df.corr()['FDP']

In [39]:
fantasy_df = fantasy_df.dropna()
fantasy_df.head(296)

          Player_Name  FD_Pts  FD_Sal Pos
0        Jrue Holiday    58.2  6800.0  SG
1        Jamal Murray    50.5  6400.0  PG
2     Dejounte Murray    50.3  4900.0  PG
3         Buddy Hield    49.7  5400.0  SG
4        Caris LeVert    48.6  5300.0  SG
..                ...     ...     ...  ..
289     Dwight Powell     0.0  3500.0   C
290       Tariq Owens     0.0  3500.0   C
291           Bol Bol     0.0  3500.0   C
292  DeMarcus Cousins     0.0  3500.0   C
293        Marc Gasol     0.0  4600.0   C

[294 rows x 4 columns]

In [41]:
fantasy_df['FD_Sal'] = fantasy_df['FD_Sal'].astype(int)

C:\Users\ddrag\Anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [42]:
fantasy_df

          Player_Name  FD_Pts  FD_Sal Pos
0        Jrue Holiday    58.2    6800  SG
1        Jamal Murray    50.5    6400  PG
2     Dejounte Murray    50.3    4900  PG
3         Buddy Hield    49.7    5400  SG
4        Caris LeVert    48.6    5300  SG
..                ...     ...     ...  ..
289     Dwight Powell     0.0    3500   C
290       Tariq Owens     0.0    3500   C
291           Bol Bol     0.0    3500   C
292  DeMarcus Cousins     0.0    3500   C
293        Marc Gasol     0.0    4600   C

[294 rows x 4 columns]

In [9]:
# to_drop = ['TripleD', 'ADI', 'VMI', 'FG%', 'FT%']
# fantasy_df.drop(to_drop, axis=1, inplace = True)
# fantasy_df

In [43]:
fantasy_df = fantasy_df.rename(columns={'Player_Name':'Name'})

In [56]:
fantasy_df['Name'] = fantasy_df['Name'].replace(' ', '_', regex=True)
fantasy_df

                 Name  FD_Pts  FD_Sal Pos
0        Jrue_Holiday    58.2    6800  SG
1        Jamal_Murray    50.5    6400  PG
2     Dejounte_Murray    50.3    4900  PG
3         Buddy_Hield    49.7    5400  SG
4        Caris_LeVert    48.6    5300  SG
..                ...     ...     ...  ..
289     Dwight_Powell     0.0    3500   C
290       Tariq_Owens     0.0    3500   C
291           Bol_Bol     0.0    3500   C
292  DeMarcus_Cousins     0.0    3500   C
293        Marc_Gasol     0.0    4600   C

[294 rows x 4 columns]

# LINEAR MODELING

In [57]:
# formulate linear programming problem
problem = pulp.LpProblem("Optimal Lineup", pulp.LpMaximize)

#Defining Variables

In [58]:
# initialize variables
playerPositions = fantasy_df['Pos'].tolist()
playerNames = fantasy_df['Name'].tolist()
playerCosts = tuple(fantasy_df['FD_Sal'])
playerPoints = tuple(fantasy_df['FD_Pts'])
salaryCap = 60000
numOfPlayers = range(len(playerNames))

In [59]:
# create variable to represent each player
playerInLineup = pulp.LpVariable.dicts("Player", [i for i in numOfPlayers], 0, 1, cat="Binary")

#Creating the Objective(s)

In [60]:
# Objective: maximize sum of player points in FanDuel
problem += pulp.lpSum(playerInLineup[i] * playerPoints[i] for i in numOfPlayers)
print(problem)

Optimal_Lineup:
MAXIMIZE
58.2*Player_0 + 50.5*Player_1 + 43.0*Player_10 + 40.0*Player_11 + 39.8*Player_12 + 39.1*Player_13 + 55.1*Player_130 + 55.0*Player_131 + 44.9*Player_132 + 44.1*Player_133 + 41.0*Player_134 + 39.2*Player_135 + 38.7*Player_136 + 38.4*Player_137 + 37.6*Player_138 + 37.4*Player_139 + 37.4*Player_14 + 35.8*Player_140 + 35.2*Player_141 + 32.1*Player_142 + 32.0*Player_143 + 31.9*Player_144 + 31.7*Player_145 + 31.2*Player_146 + 28.3*Player_147 + 28.2*Player_148 + 27.4*Player_149 + 36.9*Player_15 + 26.4*Player_150 + 25.3*Player_151 + 25.2*Player_152 + 24.8*Player_153 + 24.6*Player_154 + 24.6*Player_155 + 23.9*Player_156 + 23.9*Player_157 + 22.9*Player_158 + 22.9*Player_159 + 36.8*Player_16 + 22.8*Player_160 + 22.7*Player_161 + 22.4*Player_162 + 22.0*Player_163 + 21.4*Player_164 + 20.7*Player_165 + 20.5*Player_166 + 19.9*Player_167 + 17.9*Player_168 + 17.8*Player_169 + 35.8*Player_17 + 17.7*Player_170 + 17.3*Player_171 + 16.1*Player_172 + 15.8*Player_173 + 15.1*Player_174 + 14.9*Player_175 + 13.8*Player_176 + 13.1*Player_177 + 13.1*Player_178 + 12.9*Player_179 + 33.8*Player_18 + 12.2*Player_180 + 11.9*Player_181 + 11.8*Player_182 + 11.4*Player_183 + 10.6*Player_184 + 10.2*Player_185 + 9.4*Player_186 + 9.2*Player_187 + 9.0*Player_188 + 8.6*Player_189 + 33.6*Player_19 + 8.6*Player_190 + 7.9*Player_191 + 7.6*Player_192 + 6.4*Player_193 + 6.3*Player_194 + 4.4*Player_195 + 3.7*Player_196 + 2.0*Player_197 + 2.0*Player_198 + 1.2*Player_199 + 50.3*Player_2 + 32.7*Player_20 + 32.1*Player_21 + 31.5*Player_22 + 29.2*Player_23 + 28.8*Player_24 + 28.6*Player_25 + 60.8*Player_256 + 54.1*Player_257 + 50.8*Player_258 + 48.8*Player_259 + 27.9*Player_26 + 47.3*Player_260 + 39.3*Player_261 + 37.6*Player_262 + 34.5*Player_263 + 31.7*Player_264 + 23.0*Player_265 + 20.6*Player_266 + 20.6*Player_267 + 20.3*Player_268 + 19.6*Player_269 + 27.7*Player_27 + 18.3*Player_270 + 17.2*Player_271 + 16.3*Player_272 + 16.1*Player_273 + 14.8*Player_274 + 14.2*Player_275 + 13.0*Player_276 + 11.9*Player_277 + 5.7*Player_278 + 2.4*Player_279 + 27.5*Player_28 + 2.2*Player_280 + 2.2*Player_281 + 2.0*Player_282 + 1.2*Player_283 + 27.5*Player_29 + 49.7*Player_3 + 27.3*Player_30 + 26.6*Player_31 + 24.9*Player_32 + 24.9*Player_33 + 24.1*Player_34 + 23.6*Player_35 + 23.3*Player_36 + 22.7*Player_37 + 22.4*Player_38 + 21.7*Player_39 + 48.6*Player_4 + 21.6*Player_40 + 21.0*Player_41 + 20.9*Player_42 + 20.8*Player_43 + 18.9*Player_44 + 17.8*Player_45 + 17.7*Player_46 + 16.4*Player_47 + 15.5*Player_48 + 15.3*Player_49 + 48.6*Player_5 + 14.9*Player_50 + 14.8*Player_51 + 14.7*Player_52 + 14.0*Player_53 + 14.0*Player_54 + 13.8*Player_55 + 13.5*Player_56 + 13.1*Player_57 + 12.9*Player_58 + 11.9*Player_59 + 47.8*Player_6 + 11.7*Player_60 + 10.9*Player_61 + 10.7*Player_62 + 9.9*Player_63 + 8.7*Player_64 + 8.3*Player_65 + 8.0*Player_66 + 7.4*Player_67 + 7.4*Player_68 + 7.4*Player_69 + 47.7*Player_7 + 7.0*Player_70 + 7.0*Player_71 + 6.8*Player_72 + 6.8*Player_73 + 6.6*Player_74 + 6.5*Player_75 + 6.0*Player_76 + 5.9*Player_77 + 5.4*Player_78 + 5.2*Player_79 + 45.3*Player_8 + 5.0*Player_80 + 3.5*Player_81 + 3.2*Player_82 + 2.0*Player_83 + 43.7*Player_9 + 0.0
VARIABLES
0 <= Player_0 <= 1 Integer
0 <= Player_1 <= 1 Integer
0 <= Player_10 <= 1 Integer
0 <= Player_11 <= 1 Integer
0 <= Player_12 <= 1 Integer
0 <= Player_13 <= 1 Integer
0 <= Player_130 <= 1 Integer
0 <= Player_131 <= 1 Integer
0 <= Player_132 <= 1 Integer
0 <= Player_133 <= 1 Integer
0 <= Player_134 <= 1 Integer
0 <= Player_135 <= 1 Integer
0 <= Player_136 <= 1 Integer
0 <= Player_137 <= 1 Integer
0 <= Player_138 <= 1 Integer
0 <= Player_139 <= 1 Integer
0 <= Player_14 <= 1 Integer
0 <= Player_140 <= 1 Integer
0 <= Player_141 <= 1 Integer
0 <= Player_142 <= 1 Integer
0 <= Player_143 <= 1 Integer
0 <= Player_144 <= 1 Integer
0 <= Player_145 <= 1 Integer
0 <= Player_146 <= 1 Integer
0 <= Player_147 <= 1 Integer
0 <= Player_148 <= 1 Integer
0 <= Player_149 <= 1 Integer
0 <= Player_15 <= 1 Integer
0 <= Player_150 <= 1 Integer
0 <= Player_151 <= 1 Integer
0 <= Player_152 <= 1 Integer
0 <= Player_153 <= 1 Integer
0 <= Player_154 <= 1 Integer
0 <= Player_155 <= 1 Integer
0 <= Player_156 <= 1 Integer
0 <= Player_157 <= 1 Integer
0 <= Player_158 <= 1 Integer
0 <= Player_159 <= 1 Integer
0 <= Player_16 <= 1 Integer
0 <= Player_160 <= 1 Integer
0 <= Player_161 <= 1 Integer
0 <= Player_162 <= 1 Integer
0 <= Player_163 <= 1 Integer
0 <= Player_164 <= 1 Integer
0 <= Player_165 <= 1 Integer
0 <= Player_166 <= 1 Integer
0 <= Player_167 <= 1 Integer
0 <= Player_168 <= 1 Integer
0 <= Player_169 <= 1 Integer
0 <= Player_17 <= 1 Integer
0 <= Player_170 <= 1 Integer
0 <= Player_171 <= 1 Integer
0 <= Player_172 <= 1 Integer
0 <= Player_173 <= 1 Integer
0 <= Player_174 <= 1 Integer
0 <= Player_175 <= 1 Integer
0 <= Player_176 <= 1 Integer
0 <= Player_177 <= 1 Integer
0 <= Player_178 <= 1 Integer
0 <= Player_179 <= 1 Integer
0 <= Player_18 <= 1 Integer
0 <= Player_180 <= 1 Integer
0 <= Player_181 <= 1 Integer
0 <= Player_182 <= 1 Integer
0 <= Player_183 <= 1 Integer
0 <= Player_184 <= 1 Integer
0 <= Player_185 <= 1 Integer
0 <= Player_186 <= 1 Integer
0 <= Player_187 <= 1 Integer
0 <= Player_188 <= 1 Integer
0 <= Player_189 <= 1 Integer
0 <= Player_19 <= 1 Integer
0 <= Player_190 <= 1 Integer
0 <= Player_191 <= 1 Integer
0 <= Player_192 <= 1 Integer
0 <= Player_193 <= 1 Integer
0 <= Player_194 <= 1 Integer
0 <= Player_195 <= 1 Integer
0 <= Player_196 <= 1 Integer
0 <= Player_197 <= 1 Integer
0 <= Player_198 <= 1 Integer
0 <= Player_199 <= 1 Integer
0 <= Player_2 <= 1 Integer
0 <= Player_20 <= 1 Integer
0 <= Player_21 <= 1 Integer
0 <= Player_22 <= 1 Integer
0 <= Player_23 <= 1 Integer
0 <= Player_24 <= 1 Integer
0 <= Player_25 <= 1 Integer
0 <= Player_256 <= 1 Integer
0 <= Player_257 <= 1 Integer
0 <= Player_258 <= 1 Integer
0 <= Player_259 <= 1 Integer
0 <= Player_26 <= 1 Integer
0 <= Player_260 <= 1 Integer
0 <= Player_261 <= 1 Integer
0 <= Player_262 <= 1 Integer
0 <= Player_263 <= 1 Integer
0 <= Player_264 <= 1 Integer
0 <= Player_265 <= 1 Integer
0 <= Player_266 <= 1 Integer
0 <= Player_267 <= 1 Integer
0 <= Player_268 <= 1 Integer
0 <= Player_269 <= 1 Integer
0 <= Player_27 <= 1 Integer
0 <= Player_270 <= 1 Integer
0 <= Player_271 <= 1 Integer
0 <= Player_272 <= 1 Integer
0 <= Player_273 <= 1 Integer
0 <= Player_274 <= 1 Integer
0 <= Player_275 <= 1 Integer
0 <= Player_276 <= 1 Integer
0 <= Player_277 <= 1 Integer
0 <= Player_278 <= 1 Integer
0 <= Player_279 <= 1 Integer
0 <= Player_28 <= 1 Integer
0 <= Player_280 <= 1 Integer
0 <= Player_281 <= 1 Integer
0 <= Player_282 <= 1 Integer
0 <= Player_283 <= 1 Integer
0 <= Player_29 <= 1 Integer
0 <= Player_3 <= 1 Integer
0 <= Player_30 <= 1 Integer
0 <= Player_31 <= 1 Integer
0 <= Player_32 <= 1 Integer
0 <= Player_33 <= 1 Integer
0 <= Player_34 <= 1 Integer
0 <= Player_35 <= 1 Integer
0 <= Player_36 <= 1 Integer
0 <= Player_37 <= 1 Integer
0 <= Player_38 <= 1 Integer
0 <= Player_39 <= 1 Integer
0 <= Player_4 <= 1 Integer
0 <= Player_40 <= 1 Integer
0 <= Player_41 <= 1 Integer
0 <= Player_42 <= 1 Integer
0 <= Player_43 <= 1 Integer
0 <= Player_44 <= 1 Integer
0 <= Player_45 <= 1 Integer
0 <= Player_46 <= 1 Integer
0 <= Player_47 <= 1 Integer
0 <= Player_48 <= 1 Integer
0 <= Player_49 <= 1 Integer
0 <= Player_5 <= 1 Integer
0 <= Player_50 <= 1 Integer
0 <= Player_51 <= 1 Integer
0 <= Player_52 <= 1 Integer
0 <= Player_53 <= 1 Integer
0 <= Player_54 <= 1 Integer
0 <= Player_55 <= 1 Integer
0 <= Player_56 <= 1 Integer
0 <= Player_57 <= 1 Integer
0 <= Player_58 <= 1 Integer
0 <= Player_59 <= 1 Integer
0 <= Player_6 <= 1 Integer
0 <= Player_60 <= 1 Integer
0 <= Player_61 <= 1 Integer
0 <= Player_62 <= 1 Integer
0 <= Player_63 <= 1 Integer
0 <= Player_64 <= 1 Integer
0 <= Player_65 <= 1 Integer
0 <= Player_66 <= 1 Integer
0 <= Player_67 <= 1 Integer
0 <= Player_68 <= 1 Integer
0 <= Player_69 <= 1 Integer
0 <= Player_7 <= 1 Integer
0 <= Player_70 <= 1 Integer
0 <= Player_71 <= 1 Integer
0 <= Player_72 <= 1 Integer
0 <= Player_73 <= 1 Integer
0 <= Player_74 <= 1 Integer
0 <= Player_75 <= 1 Integer
0 <= Player_76 <= 1 Integer
0 <= Player_77 <= 1 Integer
0 <= Player_78 <= 1 Integer
0 <= Player_79 <= 1 Integer
0 <= Player_8 <= 1 Integer
0 <= Player_80 <= 1 Integer
0 <= Player_81 <= 1 Integer
0 <= Player_82 <= 1 Integer
0 <= Player_83 <= 1 Integer
0 <= Player_9 <= 1 Integer

# Defining the Contraints

In [61]:
# constraint n1: each player can only be chosen at most once
for i in numOfPlayers:
    problem += pulp.lpSum(playerInLineup[i]) <= 1

In [62]:
# constraint n2: sum of player costs cannot be more than or equal to FanDuel Salary cap ($ 60,000)
problem += sum(playerInLineup[i] * playerCosts[i] for i in numOfPlayers) <= salaryCap

In [63]:
# constraint n3: teams can have up to 9 players
problem += pulp.lpSum(problem.variables()) == 9

#Player Positions

In [64]:
# constraint n4: number of PG = 2
pointguards = tuple(fantasy_df['Pos'] == 'PG')
problem += pulp.lpSum(playerInLineup[i] * pointguards[i] for i in numOfPlayers) >=1
problem += pulp.lpSum(playerInLineup[i] * pointguards[i] for i in numOfPlayers) <= 2

In [65]:
# constraint n5: number of SG = 2
shootinguard = tuple(fantasy_df['Pos'] == 'SG')
problem += pulp.lpSum(playerInLineup[i] * shootinguard[i] for i in numOfPlayers) >=2
problem += pulp.lpSum(playerInLineup[i] * shootinguard[i] for i in numOfPlayers) <= 2

In [66]:
# constraint n6: number of SF = 2
smallforward = tuple(fantasy_df['Pos'] == 'SF')
problem += pulp.lpSum(playerInLineup[i] * smallforward[i] for i in numOfPlayers) >=2
problem += pulp.lpSum(playerInLineup[i] * smallforward[i] for i in numOfPlayers) <= 2

In [67]:
# constraint n7: number of PF = 2
powerforward = tuple(fantasy_df['Pos'] == 'PF')
problem += pulp.lpSum(playerInLineup[i] * powerforward[i] for i in numOfPlayers) >=2
problem += pulp.lpSum(playerInLineup[i] * powerforward[i] for i in numOfPlayers) <= 2

In [68]:
# constraint n8: number of C = 1
center = tuple(fantasy_df['Pos'] == 'C')
problem += pulp.lpSum(playerInLineup[i] * center[i] for i in numOfPlayers) >=1
problem += pulp.lpSum(playerInLineup[i] * center[i] for i in numOfPlayers) <= 1

# Solving the Problem

In [69]:
# calculating predicted lineup
cost = 0
points = 0

predicted = set()
if problem.solve() == 1:
    for pos in range(len(numOfPlayers)):
        if playerInLineup[pos].value() == 1:
            name = playerNames[pos]
            predicted.add(name)
            cost += playerCosts[pos]
            points += playerPoints[pos]
            print (playerNames[pos], playerPositions[pos], playerCosts[pos],playerPoints[pos])
    print ('-------------------')
    print (f"The total cost is =: {cost}")
    print (f"The predicted FanDuel points: {points}")
else:
    print ('Error finding solution')

Jrue_Holiday SG 6800 58.2
Jamal_Murray PG 6400 50.5
Dejounte_Murray PG 4900 50.3
Caris_LeVert SG 5300 48.6
Anthony_Davis PF 10400 55.0
Andrew_Wiggins SF 7100 44.9
Harrison_Barnes SF 4700 38.4
Nemanja_Bjelica PF 5200 35.2
Deandre_Ayton C 9200 60.8
-------------------
The total cost is =: 60000
The predicted FanDuel points: 441.9